div.cockpit_3d_container,
div.cockpit_3d_container > div.model_container {
    width: 100%;
    height: auto;
    display: block;
}
div.cockpit_3d_container > div.model_container canvas {
    width: 100%!important;
    height: auto!important;
}