div.banner_container {
    display: block;
    margin: 50px 0 50px 0;
    width: 100%;
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
}
div.banner_container span,
div.banner_container span * {
    font-size: 50px;
    color: var(--text-col-secondary);
    font-weight: 900;
    display: block;
    margin-bottom: 20px;
}
div.banner_container button {
    border: 3px solid var(--col-background);
    padding: 4px 8px 4px 8px;
    color: var(--text-col-secondary);
    font-size: 20px;
    font-weight: 700;
}