:root {
    --gallery-desktop-cols: 3;
    --gallery-spacing: 10px;
    --gallery-edge-rounding: 5px;
}

div.gallery_container {
    display: block;
    width: 100%;
    column-count: var(--gallery-desktop-cols);
    column-gap: 6px;
}
div.gallery_container > div.image_container {
    margin: 0 0 3px;
    position: relative;
}
div.gallery_container img {
    display: inline-block;
    width: 100%;
}
div.gallery_container > div > .overlay {
    width: 100%;
    height: 100%;
    opacity: 0;
    /* background: var(--overlay); */
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    transition: .1s ease;
    text-align: center;
    user-select: none;
    cursor: pointer;
}
.overlay > .inner {
    display: table;
    height: 100%;
    width: 100%;
}
.overlay > .inner > .container {
    display: table-cell;
    vertical-align: middle;
}
div.gallery_container > div:hover > .overlay {
    opacity: 1;
}
div#lightbox {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--overlay);
    backdrop-filter: blur(10px);
    transition: .2s ease;
    padding: 150px;
    z-index: 1000;
}
div#lightbox > div#inner_image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
div#lightbox > div.controls {
    position: absolute;
    z-index: 99999;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    padding: 30px 150px 20px 150px;
}
div#lightbox > div.controls > div {
    display: inline-block;
}
div.controls * {
    color: var(--text-col-secondary);
}
div.controls i {
    font-size: 32px;
    cursor: pointer;
}
div#lightbox > div.controls div.left {
    flex-grow: 100;
}
div#lightbox > div.controls div.right {

}

@media screen and (max-width: 800px) {
    div.gallery_container {
        column-count: 2;
    }
    div#lightbox {
        padding: 50px;
    }
    div#lightbox > div.controls {
        padding: 30px 50px 20px 50px;
    }
}