div.heading_container h1,
div.heading_container h2,
div.heading_container h3,
div.heading_container h4,
div.heading_container h5,
div.heading_container h6 {
    display: inline-block;
    border-bottom: 2px solid var(--col-primary);
}
div.heading_container {
    display: block;
}