div.tile_container {
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
div.tile_container .overlay {
    width: 100%;
    min-height: 230px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
div.tile_container .overlay .upper {
    flex-grow: 100;
    width: 100%;
    padding-bottom: 10px;
}
div.tile_container .overlay .upper span {
    color: var(--text-col-secondary);
    font-weight: 700;
    font-size: 22px;

}
div.tile_container .overlay .lower {
    width: 100%;
    height: auto;
}
div.tile_container .overlay .lower button {
    border: 2px solid var(--col-background);
    padding: 6px 8px 6px 8px;
    color: var(--text-col-secondary);
    font-size: 15px;
    font-weight: 500;
}