div.timeline_horizontal_container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    margin: 50px 0 50px 0;
    height: 230px;
    padding-bottom: 30px;
}
div.timeline_horizontal_container div.entry {
    display: inline-block;
    height: 100%;
    width: calc(100% / 3.5);
    border-bottom: 3px solid var(--text-col-primary);
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
}
div.timeline_horizontal_container div.entry::after {
    position: absolute;
    content: '';
    width: 11px;
    height: 11px;
    border-radius: 50%;
    bottom: -7px;
    left: 0;
    background: var(--text-col-primary);
}
div.timeline_horizontal_container div.entry:last-of-type {
    padding-right: 0;
}
div.timeline_horizontal_container div.entry div.inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 12px;
}
div.timeline_horizontal_container div.entry div.inner div.top {
    flex-grow: 1;
    width: 100%;
    padding-bottom: 15px;
}
div.timeline_horizontal_container div.entry div.inner div.top span {
    display: block;
}
div.timeline_horizontal_container div.entry div.inner div.top span.dat {
    font-size: 12px;
    color: var(--text-col-light);
    font-weight: 200;
    display: block;
    opacity: .8;
}
div.timeline_horizontal_container div.entry div.inner div.top span.dat i {
    margin-right: 8px;
}
div.timeline_horizontal_container div.entry div.inner div.top span.text {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-col-primary);
    display: block;
    margin-top: 10px;
    white-space: initial;
}
div.timeline_horizontal_container div.entry div.inner div.bottom {
    height: auto;
    width: 100%;
}