div.timeline_vertical_container {
    display: block;
    width: 100%;
    padding-left: 3px;
    margin: 50px 0 50px 0;
}
div.timeline_vertical_container div.entry {
    display: block;
    padding: 14px 0 14px 24px;
    border-left: 3px solid var(--text-col-primary);
    position: relative;
}
div.timeline_vertical_container div.entry::after {
    position: absolute;
    content: '';
    width: 11px;
    height: 11px;
    border-radius: 50%;
    transform: translate(-63%,-50%);
    top: 20px;
    left: 0;
    background: var(--text-col-primary);
}
div.timeline_vertical_container div.entry span.heading {
    font-size: 12px;
    color: var(--text-col-light);
    font-weight: 200;
    display: block;
    opacity: .8;
}
div.timeline_vertical_container div.entry span.heading i {
    margin-right: 8px;
}
div.timeline_vertical_container div.entry span.text {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-col-primary);
    display: block;
    margin-top: 10px;
}
div.timeline_vertical_container div.entry a {
    display: block;
    margin-top: 10px;
}