div.video_container {
    position: relative;
}
div.video_container > video {
    width: 100%;
    height: auto;
    display: flex;
}
div.video_container div.overlay {
    width: 100%;
    height: 100%;
    background: var(--overlay-colored);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
div.video_container div.overlay h2 {
    color: white;
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    max-width: 90%;
    display: block;
    font-size: 50px;
    margin: 0;
    padding: 0;
}