/* Base */

:root {
    --page-padding: 300px;
}
::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-height);
}
::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-color-hover);
}
html,body {
    margin: 0;
    padding: 0;
}
* {
    font-family: 'Roboto', sans-serif;
    outline: none;
    box-sizing: border-box;
    color: var(--text-col-primary);
}
button {
    border: none;
    background: none;
}
button.primary {
    padding: 11px 25px 10px 25px;
    border-radius: 5px;
    background: linear-gradient(90deg, var(--col-primary) 0%, var(--col-tertiary) 100%);
    color: var(--text-col-secondary);
    transition: .2s ease;
    box-shadow: none;
}
button.primary:hover {
    box-shadow: var(--shadow-large);
}
section {
    padding: 0 var(--page-padding) 0 var(--page-padding);
    display: block;
}
a {
    color: var(--col-link);
    text-decoration: none;
}
*[role="button"],
button,
a {
    cursor: pointer;
}
img {
    width: 100%;
    height: auto;
    max-height: 100%;
}
.fullwidth {
    width: calc(100% + (var(--page-padding)) * 2);
    margin-left: calc(var(--page-padding) * -1);
}
p {
    color: var(--text-col-light);
    line-height: 25px;
}

/* Transitions */
.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

/* Grid */

div.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
div.col {
    display: inline-block;
    padding: 10px;
}
@media screen and (min-width: 1500px) {
    div.row div.col:first-of-type {
        padding-left: 0;
    }
    div.row div.col:last-of-type {
        padding-right: 0;
    }
}
div.col.one {
    width: calc((100%/0)*1);
}
div.col.two {
    width: calc((100%/12)*2);
}
div.col.three {
    width: calc((100%/12)*3);
}
div.col.four {
    width: calc((100%/12)*4);
}
div.col.five {
    width: calc((100%/12)*5);
}
div.col.six {
    width: calc((100%/12)*6);
}
div.col.seven {
    width: calc((100%/12)*7);
}
div.col.eight {
    width: calc((100%/12)*8);
}
div.col.nine {
    width: calc((100%/12)*9);
}
div.col.ten {
    width: calc((100%/12)*10);
}
div.col.eleven {
    width: calc((100%/12)*11);
}
div.col.twelve {
    width: calc((100%/12)*12);
}