:root {
    /* Shadow Definitions */
    --shadow: 0px 0px 8px var(--shadow-color);
    --shadow-large: 0px 0px 13px var(--shadow-color);
    --shadow-bottom: 0px 6px 6px var(--shadow-color);
    --shadow-color: rgba(0,0,0,.2);
    /* Overlay Colors */
    --overlay: rgba(39,52,61,0.6);
    --overlay-colored: rgba(0,174,238,.5);
    /* Text Colors */
    --text-col-primary: #27343d;
    --text-col-secondary: white;
    --text-col-light: #27343d;
    /* Object Colors */
    --col-dashboard-panes: rgb(240,245,245);
    --col-background: white;
    --col-primary: #00AEEE;
    --col-secondary: #6F7374;
    --col-tertiary: #0083d7;
    --col-accent: #00a6e8;
    --col-light: rgb(120,140,150);
    --col-dark: rgb(41, 42, 45);
    --col-error: red;
    --col-warning: orange;
    --col-notice: #00a6e8;
    --col-link: rgb(0,150,255);
    /* Scrollbar definitions */
    --scrollbar-track-color: rgb(220,220,220);
    --scrollbar-thumb-color: var(--col-secondary);
    --scrollbar-thumb-color-hover: var(--col-secondary);
    --scrollbar-width: 7px;
    --scrollbar-height: 7px;
}