div#cookiebox_container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--overlay);
    backdrop-filter: blur(20px);
    z-index: 99999;
}
div#cookiebox_inner_wrapper {
    display: block;
    width: 500px;
    max-width: 90%;
    height: auto;
    padding: 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background: var(--col-background);
    border-radius: 8px;
    min-height: 100px;
    box-shadow: var(--shadow-large);
    max-height: 90vh;
    overflow-y: auto;
}
div#cookiebox_inner_wrapper span.heading {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
div#cookiebox_inner_wrapper p {
    line-height: 22px;
}
div#cookiebox_inner_wrapper div.buttons_container {
    display: flex;
    margin-top: 30px;
    width: 100%;
}
div#cookiebox_inner_wrapper div.buttons_container button {
    border: none;
    padding: 10px 0 10px 0;
    outline: none;
    width: 50%;
    display: inline-block;
}
div#cookiebox_inner_wrapper div.buttons_container button:last-of-type {
    background: var(--col-primary);
    color: var(--text-col-secondary);
}

button.accordion {
    padding: 12px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: .2s ease;
    background: var(--col-light);
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    color: var(--text-col-secondary);
    height: 48px;
}

button.accordion * {
    color: var(--text-col-secondary);
}

button.accordion span {
    flex-grow: 100;
    display: inline-block;
    height: 100%;
    cursor: pointer;
    padding-top: 4px;
}

button.accordion input {
    width: auto;
    display: inline-block;
}

button.accordion.active {
    background: var(--col-primary);
}

div.panel {
    padding: 0 10px;
    background-color: var(--col-background);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

input[type="checkbox"]:focus {
    outline: 0;
}

.toggle {
    height: 24px;
    width: 45px!important;
    border-radius: 12px;
    display: inline-block;
    position: relative;
    margin: 0;
    border: 2px solid #474755;
    background: linear-gradient(180deg, #2D2F39 0%, #1F2027 100%);
    transition: all .2s ease;
}

.toggle:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
    transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}

.toggle:checked {
    border-color: white;
}

.toggle:checked:after {
    transform: translatex(20px);
}