#error_wrapper {
    display: block;
    width: 100%;
    height: 100vh;
}
#error_inner h1 {
    margin-top: 0;
    padding-top: 0;
}
#error_inner {
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 400px;
    max-width: 90%;
    max-height: 90vh;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: var(--shadow-large);
}