footer {
    background: var(--col-dark);
    color: var(--text-col-secondary);
    width: 100%;
    padding: 45px var(--page-padding) 30px var(--page-padding);
}
footer * {
    color: var(--text-col-secondary);
}
footer li,
footer ul {
    list-style: none;
    padding-left: 0;
    font-size: 14px;
    line-height: 20px;
}
footer a {
    text-decoration: none;
    font-style: normal;
}
footer .lower_container {
    text-align: center;
    margin-top: 20px;
    padding-top: 25px;
    border-top: 1px solid var(--text-col-light);
}
footer p:nth-of-type(2), li {
    opacity: .8;
}
footer .row .col p:nth-of-type(2) {
    line-height: 20px;
    font-size: 14px;
    color: var(--text-col-secondary);
}
footer .lower_container > .split {
    display: flex;
    flex-direction: row;
}
footer .lower_container > .split > .legal {
    flex-grow: 100;
    text-align: left;
}
footer .lower_container > .split > .social {
    text-align: right;
}
footer .lower_container > .split > .social > a {
    margin-right: 12px;
}
footer .lower_container > .split > .social > a:last-of-type {
    margin-right: 0;
}
footer .lower_container > .split > .social > a > i {
    font-size: 16px;
    opacity: .8;
}
footer .lower_container span.copyright {
    text-align: center;
    display: block;
    padding-top: 35px;
    font-size: 11px;
    opacity: .75;
}
footer .lower_container span.copyright a {
    color: inherit;
}
footer .legal {
    padding-top: 3px;
}
footer .legal span {
    opacity: .8;
    font-size: 14px;
}
footer .legal > a > span > span {
    padding: 0 6px 0 6px;
}
#footer_container {
    margin-top: 100px;
}
#footer_container div.triangle {
    width: 0;
    height: 0;
    border-top: 45px solid transparent;
    border-right: calc(100vw - var(--scrollbar-width)) solid var(--col-dark);
}