div#navbar_container,
div#navbar_container * {
    transition: .2s ease;
}
div#navbar_container {
    position: fixed;
    top: 0;
    background: var(--col-background);
    z-index: 999;
    width: 100%;
    box-shadow: var(--shadow-large);
}
div#navbar_container div.inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px var(--page-padding) 20px var(--page-padding);
}
div#navbar_wrapper {
    width: 100%;
    display: block;
}
div#navbar_wrapper div.navbar_backlay {
    height: 160px;
    display: block;
    position: relative;
}
div.navbar_logo_container {
    display: inline-block;
    flex-grow: 100;
    height: 50px;
}
img.navbar_logo {
    height: 100%;
    width: auto;
}
div.navbar_nav_entry_container {
    display: inline-block;
    height: 50px;
    width: auto;
    padding-left: 20px;
}
.navbar_nav_entry_container a button.nav_entry {
    border: none;
    padding: 0 12px 0 12px;
    height: 100%;
    font-size: 14px;
}
.navbar_nav_entry_container a button.nav_entry i {
    margin-left: 4px;
}
.navbar_nav_entry_container a:last-of-type button.nav_entry {
    padding-right: 0;
}
div#navbar_ribbon {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 var(--page-padding) 0 var(--page-padding);
}
div#navbar_ribbon div.inner {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--col-secondary);
    display: flex;
    flex-direction: row;
    padding: 14px 0 0 0;
    font-size: 13px;
}
div#navbar_ribbon div.inner * {
    color: var(--col-secondary);
}
div#navbar_ribbon div.inner > div.left i {
    margin-right: 10px;
}
div#navbar_ribbon div.inner > div.right a {
    margin-right: 12px;
    font-size: 15px;
    opacity: .8;
}
div#navbar_ribbon div.inner > div.right a:last-of-type {
    margin-right: 0;
}
div#navbar_ribbon div.inner div.left {
    flex-grow: 100;
    display: inline-block;
    text-align: left;
}
div#navbar_ribbon div.inner div.right {
    display: inline-block;
    text-align: right;
}
div#navbar_ribbon div.inner div.left span {
    margin-right: 10px;
}


div#navbar_container.compressed div#navbar_ribbon div.inner {
    border: none;
}
div#navbar_container.compressed > div.inner {
    padding: 0 var(--page-padding) 12px var(--page-padding);
}

div#navbar_wrapper #navbar_megamenu_container {
    display: block;
    width: 100%;
    margin-top: -20px;
    background: transparent;
    position: absolute;
    box-shadow: var(--shadow-bottom);
    z-index: 900;
    padding-top: 10px;
}
div#navbar_wrapper #navbar_megamenu_container .inner {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background: var(--col-background);
}
div#navbar_wrapper #navbar_megamenu_container .inner .group {
    flex-grow: 1;
    max-width: 25%;
    padding-top: 20px;
}
div#navbar_wrapper #navbar_megamenu_container .inner .group h6 {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    text-transform: uppercase;
}
div#navbar_wrapper #navbar_megamenu_container .inner .group ul,
div#navbar_wrapper #navbar_megamenu_container .inner .group li {
    list-style: none;
    padding-left: 5px;
}
div#navbar_wrapper #navbar_megamenu_container .inner .group ul {
    border-left: 2px solid var(--col-accent);
}
div#navbar_wrapper #navbar_megamenu_container .inner .group ul a {
    font-size: 15px;
    color: var(--text-col-light);
}